.clock_container {
}

/* 時計の共通スタイル */
.clock {
    margin-top: 10px;
    color: black;
    line-height: 1.2;
    text-align: center;
}
.clock_pink {
    text-shadow: 0 0 0.2rem hotpink;
}
.clock_blue {
    text-shadow: 0 0 0.2rem rgb(0, 204, 255);
}

.clock_form{
    padding-bottom: 50px;
}

/* 日付のスタイル */
.clock-date {
    font-size: 1.0rem;
}

/* 時間のスタイル */
.clock-time {
    font-size: 4.0rem;
}

/* サイズ調整 */
@media screen and (max-width: 800px) {
.clock-time {
    font-size: 3.0rem;
}
}